* {
    font-family: Arial, Helvetica, sans-serif;
}
 
.btn {
    display: block;
    margin: 0 auto;
    background-color: black;
    border: 3px solid black;
    font-size: 20px;
    color: white;
    height: 50px;
    width: 200px;
    transition: .3s;
}
.btn:hover {
    background-color: white;
    color: black;
}

div {
    float: left;
    width: 300px;
    height: 300px;
    text-align: center;
    font-weight: bold;
    color:black;
    background-color: antiquewhite;
    border: 2px solid black;
    display: block;
}